<div class="card">
    <div class="card-image">
        {% if post.image %}
            <img src="media/{{ post.image }}" style="width: 30%;">
        {% endif %}
    </div>
    <div class="card-content">
        <span class="card-title">{{ post.user.first_name }} {{ post.user.last_name }}</span>
        <span class="grey-text"> {{ post.created_at }}</span>
        <p>{{ post.content }}</p>
    </div>
    <div class="card-action">
        <a href="">{{ post.like_set.count }} Likes</a>
        <a class="modal-trigger" href="#postModal{{post.id}}">{{ post.comments.count }} Comments</a>
    </div>
</div>

 <!-- Comments -->
 <div id="postModal{{post.id}}" class="modal">
   <div class="modal-content">
     <h4>Comments</h4>
     <ul class="collection">
        {% for comment in post.comments.all %}
            <li class="collection-item">{{ comment.user.first_name }} - {{ comment.content }}</li>
        {% endfor %}
    </ul>
   </div>
 </div>