<div class="card row">
    <div class="card-content col s12 m6">
        <span class="card-title">{{ post.user.first_name }} {{ post.user.last_name }}</span>
        <span class="grey-text"> {{ post.created_at }}</span>
        <p>{{ post.content }}</p>
    </div>
    <div class="card-image col s12 m6">
        {% if post.image %}
            <img src="media/{{ post.image }}">
        {% endif %}
    </div>
    <div class="card-action col s12">
        <a href="{% url 'postlike' post.pk %}">
            {% if user in post.likes.users %}
            <span class="red-text">{{ post.likes.count }} Likes</span>
            {% else %}
            <span class="blue-text">{{ post.likes.count }} Likes</span>
            {% endif %}
        </a>
        <a class="modal-trigger blue-text" href="#postModal{{post.id}}">{{ post.comments.count }} Comments</a>
        {% if post.user == user %}
        <a class="btn-floating red right" href="{% url 'postdelete' post.pk %}"><i class="material-icons">delete</i></a>
        {% endif %}
    </div>
</div>

<!-- Comments -->
<div id="postModal{{post.id}}" class="modal">
    <div class="modal-content">
        <h4>Comments</h4>
        <form class="row" action="{% url 'postcomment' post.id %}" method="post">
            {% csrf_token %}
            <div class="col s12 m8">
                {% for field in comment_form %}
                {{ field }}
                {% endfor %}
            </div>
            <div class="col s12 m4">
                <button class="btn" type="submit">comment</button>
            </div>
        </form>
        <ul class="collection">
        {% for comment in post.comments.all %}
            <li class="collection-item">{{ comment.user.first_name }} <br> {{ comment.content }}</li>
        {% endfor %}
        </ul>
    </div>
</div>