<div class="card row">
    <div class="card-content col s12 m6">
        <span class="card-title">{{ post.user.first_name }} {{ post.user.last_name }}</span>
        <span class="grey-text"> {{ post.created_at }}</span>
        <p>{{ post.content }}</p>
    </div>
    <div class="card-image col s12 m6">
        {% if post.image %}
            <img src="{{ post.image.url }}">
        {% endif %}
    </div>
    <div class="card-action col s12">
        {% if post.user != user %}
        <a href="{% url 'postlike' post.pk %}">
            {% if post.id in liked_posts %}
            <i class="small material-icons red-text">favorite_</i>
            {% else %}
            <i class="small material-icons red-text">favorite_outlined</i>
            {% endif %}
        </a>
        {% endif %}
        <a class="modal-trigger teal-text" href="#postLikeModal{{post.id}}">
            <span class="teal-text">{{ post.likes.count }} Likes</span>
        </a>
        <a class="modal-trigger teal-text" href="#postCommentModal{{post.id}}">
            {{ post.comments.count }} Comments
        </a>
        {% if post.user == user %}
        <a class="btn-floating red right" href="{% url 'postdelete' post.pk %}"><i class="material-icons">delete</i></a>
        {% endif %}
    </div>
</div>

<!-- Likes -->
<div id="postLikeModal{{post.id}}" class="modal">
    <div class="modal-content">
        <h4>Likes</h4>
        <ul class="collection">
            {% for like in post.likes.all %}
                <li class="collection-item">{{ like.user.first_name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Comments -->
<div id="postCommentModal{{post.id}}" class="modal">
    <div class="modal-content">
        <h4>Comments</h4>
        {% if post.user != user %}
        <form class="row" action="{% url 'postcomment' post.id %}" method="post">
            {% csrf_token %}
            <div class="col s12 m8">
                {% for field in comment_form %}
                {{ field }}
                {% endfor %}
            </div>
            <div class="col s12 m4">
                <button class="btn" type="submit">comment</button>
            </div>
        </form>
        {% endif %}
        <ul class="collection">
        {% for comment in post.comments.all %}
            <li class="collection-item">{{ comment.user.first_name }} <br> {{ comment.content }}</li>
        {% endfor %}
        </ul>
    </div>
</div>