<nav style="margin-bottom: 1.5rem;">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="/" class="center brand-logo">Mystery</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Hello, {{user.first_name}}</a></li>
                    <li><a href="{% url 'users' %}">Find friends</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>